<div class="row">
  <div class="col-lg-10 mt-5 mx-auto">
    <h2 class="text-center">従業員一覧</h2>
    <table class="table mt-3">
      <thead class="table-info">
        <tr>
          <th>社員ID</th><th>氏名</th><th>所属店舗</th><th>ステータス</th><th>編集</th>
        </tr>
      </thead>
      <tbody>
        <% @publics.each do |public| %>
        <tr>
          <td><%= public.employee_id %></td>
          <td><%= public.name %></td>
          <td><%= public.shop.shop_name %></td>
          <td>
            <% if public.is_working? %>
              <div>在職中</div>
            <% else %>
              <div>退職済</div>
            <% end %>
          </td>
          <td><%= link_to "編集", edit_admin_public_path(public.id), class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "新規登録", new_admin_public_path, class: "btn btn-success" %>
  </div>
</div>