<h2><%= @shop.shop_name %> 従業員一覧</h2>
<table>
  <thead>
    <tr>
      <th>社員ID</th><th>氏名</th><th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @shop.publics.each do |public| %>
    <tr>
      <td><%= public.id %></td>
      <td><%= public.name %></td>
      <td><%= public.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "新規登録", new_admin_public_path %>