<div class="container px-5 px-sm-0 mt-3"> 
  <div class ="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mt-5 mx-auto">
      <h2 class="text-center"><strong>従業員情報</strong></h2>
      <%= form_with model: @public, url: admin_publics_path, local:true do |f| %>
      <div class="field text-center mt-3">
        <%= f.label :employee_id, "社員ID" %>
        <%= f.text_field :employee_id, placeholder:"111111", class: "form-control" %>
      </div>
      <div class="field text-center mt-3">
        <%= f.label :name, "氏名" %>
        <%= f.text_field :name, placeholder:"令和太郎", class: "form-control" %>
      </div>
      <div class="field text-center mt-3">
        <%= f.label :shop_id, "店名" %><br>
        <%= f.collection_select :shop_id, Shop.all, :id, :shop_name, :prompt => "--選択してください--", class: "form-control" %>
      </div>
      <div class="field text-center mt-3">
        <%= f.label :勤務ステータス %><br>
        <%= f.radio_button :is_working, true %>
        <%= f.label :is_working, "在職中", value: true %>
        &nbsp;
        <%= f.radio_button :is_working, false %>
        <%= f.label :is_working, "退職済", value: false %>
      </div>
      <div class="field mt-3">
        <%= f.label :"パスワード" %><br>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>
        <br>
      <div class="form-group text-center">
        <%= f.submit "新規登録",class: "btn btn-secondary " %>
      </div>
      <% end %>
    </div>
  </div>
</div>

