<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="col-6 offset-3">
        <h2><strong>ログイン</strong></h2>
        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field my-4">
            <%= f.label :"社員ID" %><br />
            <%= f.text_field :employee_id, autofocus: true, class: "form-control" %>
          </div>
          <div class="field　my-4">
            <%= f.label :"パスワード" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <div class="actions my-4 text-center" >
            <%= f.submit "ログイン" %>
          </div>
        <% end %>
        <div class="field mt-5">
          <%= link_to 'ゲストログイン（閲覧用）', guest_sign_in_path, class: "btn btn-secondary btn-block mb-3 sign_in", method: :post %>
        </div>
     </div>
    </div>
  </div>
</div>