<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <% if admin_signed_in? %>
      <%= link_to "LOGO", admin_root_path %>
    <% else %>
      <%= link_to "LOGO", root_path %>
    <% end %>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
         <% if public_signed_in? %>
          <li class="nav-item">
            <%= link_to icon('fas','sign-out-alt',"ログアウト"), destroy_public_session_path, method: :delete ,class: 'btn btn-outline-light mx-3 my-1'%>
          </li>
         <% elsif admin_signed_in? %>
           <li class="nav-item">
             <%= link_to icon('fas','fas fa-gear',"店舗情報変更"), admin_shops_path,class: 'btn btn-outline-light mx-3 my-1'%>
           </li>
           <li class="nav-item">
             <%= link_to icon('fas','fa-calender',"シフト一覧"), admin_shifts_path, class:'btn btn-outline-light mx-3 my-1'%>
           </li>
           <li class="nav-item">
             <%= link_to icon('fas','sign-out-alt',"ログアウト"),destroy_admin_session_path, method: :delete,class: 'btn btn-outline-light mx-3 my-1'%>
           </li>
         <% else %>

          <% end %>
        </ul>
      </div>    
  </nav>
</header>