<!DOCTYPE html>
<html>
  <head>
    <title>MyPF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c3fbb4b704.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header"%>
    <main>
      <div id="flash">
          <%= render "layouts/flash" %>
      </div>
      <div class="container px-5 px-sm-0 mt-3">
      <%= yield %>
      </div>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
